body { background:#0f2027; color:white; font-family:Arial; }
.center { display:flex; justify-content:center; align-items:center; height:100vh; }
.card { background:#111; padding:20px; margin:10px; border-radius:10px; }
.input { width:90%; padding:10px; margin:5px; }
.btn { padding:10px; margin:5px; }

.chat-box { height:200px; overflow:auto; }

.chat { padding:8px; border-radius:10px; margin:5px; max-width:70%; }
.left { background:#222; }
.right { background:#00c6ff; margin-left:auto; }

.notif {
  position:fixed;
  top:20px;
  right:20px;
  background:cyan;
  padding:10px;
  display:none;
}